{
  "parser"  : "babel-eslint",
  "extends" : [
    "airbnb"
  ],
  "plugins": [
    "babel"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "indent": ["error", 2],
    "max-len": [2, 120, 2],
    "comma-dangle": ["error", "always-multiline"],
    "no-shadow": ["error", { "allow": ["err"] }],
    "no-multi-str": 0,
    "generator-star-spacing": 0,
    "no-console": 0,
    "no-use-before-define": ["error", { "functions": false }],
    "func-names": 0
  }
}
