html {
  width: 100%;
}
body {
  background: #f5f5f5;
}

html, body, main {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
.sc2-map-container {
	margin: 0;
	height: 100%;
  width: 100%;
  position: fixed;
}
.sc2-util-container {
	background: #F7F9F9;
}

#mapid {
  min-height: 100%;
}
